@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.Container-Button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.tittle{
    font-family: "Silkscreen", sans-serif;

}

.buttonP {
  margin-right: 10px;
  padding: 2px 4px;
  background-color: white;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: border-color 0.3s ease;
  width: 45px;
  height: 45px;
  line-height: 50px;
}

.buttonP:hover {
  border-color: #1565c0;
}

.endMessage{
    position: "absolute";
    top: "50%";
    left: "50%";
    transform: "translate(-50%, -50%)";
    background-Color: "white";
    padding: "20px";
    border-radius: "10px";
    box-Shadow: "0 4px 8px rgba(0,0,0,0.2)";
    text-Align: "center";
    color: black;
    font-family: "Silkscreen", sans-serif;
}